.book .title{
    font-size: 12px;
    margin: 5px 0;
    color: #555;
}

.book .author{
    font-size: 12px;
    margin: 0;
    color: #555;
}

.book .btn-primary{
    border: 0;
    background-color: #FAF1EA;
    height: 32px;
    margin-top: 8px;
    color: #333333;
    letter-spacing: .1px;
    cursor: pointer;
}

.book{
    margin-bottom: 15px;
}